.main-container{
position: relative;
width: 1440px;
height: 750px;

}

.main-bar{

    display: flex;
    position: absolute;
    width: 1100px;
    height: 123px;
    left: 468px;
    top: 76px;
    background: #FFFFFF;
    border-radius: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.card-layout{
padding: 10px;
margin:20px;
height: 350px;
overflow:auto;
}
