.sidebar2{

        position: absolute;
        width: 900px;
        height: 750px;
        left: 0px;
        top: 0px;
        z-index:11;      
        background: #EBF2F7;
        box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
        border-radius: 0px 32px 32px 0px;
}
.reader2{
position: absolute;
width: 278px;
height: 77px;
left: 56px;
top: 76px;

background: #d1bfbf;
box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
border-radius: 8px;
}
.reader2 img{
        position: absolute;
        width: 51px;
        height: 51px;
        left:10px;
        top: 10px; 
        border-radius: 100px;
        background: #c23535; 
}

.reader2 h6{
        position:absolute;
        left:70px;
        top:15px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
}

.reader2 p{
position:absolute;
left:70px;
top:35px;
font-family: Roboto;
}


 .feedback2{
       position: absolute;
       width: 278px;
       height: 161px;
       left: 56px;
       top: 178px;
       background: #f5f0f0;
       box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
       border-radius: 8px;
 }

 .feedback2 h3{
        position: absolute;
        left: 25px;
        top: 25px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        border-radius: 8px;    
 }

 .feedback2 Button{
        position: absolute;
        left: 70px;
        top: 75px;
        background-color:#1fe7cd;
 }

.form h5,p{
       padding-left:15px ;
}
.form Button{
       margin-left:15px;
}
 .form {
        position: absolute;
        left: 400px;
        top: 0px;
        background:#ffffff;
        height:auto;
        width:500px;  
        padding: 15px;
       right:0px;
        border-radius: 5px;;    
 }


